@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Heavy.woff2') format('woff2'),
        url('SFCompactDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Ultralight.woff2') format('woff2'),
        url('SFCompactDisplay-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Bold.woff2') format('woff2'),
        url('SFCompactDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

