  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ page.title | default: site.title | escape }} - {% if lang == "fr" %}Apprendre le japonais{% else %}Learn japanese{% endif %}</title>
    {%- if lang == "fr" %}
    	{% assign description = site.description_fr %}
    {% else %}
    	{% assign description = site.description_en %}
    {%- endif %}
    <meta name="description" content="{{ description | strip_html | normalize_whitespace | escape }}">

    <link rel="stylesheet" href="{{ "/assets/fonts/stylesheet.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    {% include tracking.html %}

    {%- if page.permalink == Nil and lang == "en" %}
    <script type="text/javascript">
    /* <![CCDATA[ */
    	if (window.localStorage) {
	        var lang = localStorage.getItem('lang');
	        console.log(lang);
	        if (lang === null) {
	            var langs = navigator.languages || navigator.language;
	            if (!Array.isArray(langs)) {
	                langs = [ langs ];
	            }
	            
	            var re = /^fr/i;
	            if (re.test(langs[0])) {
	            	lang = 'fr';
	            	localStorage.setItem('lang', 'fr');
	            }
	        }
	        if (lang == 'fr') {
	        	document.location = {{ "/fr/" | relative_url }};
	        }
    	}
    /* ]]> */
    </script>
    {%- endif %}
  </head>