---
# Only the main Sass file needs front matter (the dashes are enough)
---

$fontStack: 'SF Compact Display', sans-serif;
$mainColor: #ff8000;

* {
	font-family: $fontStack;
}

body {
	margin: 0;
	height: 100vh;
	background: white;
}

#main-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	flex-direction: column;
	justify-content: center;
}

#page-content {
	position: relative;
	
	margin: 0 auto;
	text-align: center;
}

#icon-app-store-badge, #icon-facebook {
	display: block;
	margin-top: 20px;
}

#main-menu {
	text-align: center;
	margin: 20px 0;
}

#main-screenshots {
	width: 100%;
}

#cookie-footer {
	background: #ffefdf;
	
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
	
	border-top: 3px solid $mainColor;
	
	position: absolute;
	
	bottom: 0;
	
	visibility: hidden; 
	
	p {
		margin: 0;
	}
	
	div.buttons {
		padding-top: 20px;
	}
	
	.ko-button, .ok-button {
		font-size: 1em;
		font-weight: bold;
		padding: 8px 30px;
		border-radius: 5px;
		border: 0;
	}
	
	.ko-button {
		margin-left: 20px;
		background: white;
		color: $mainColor;
	}
	
	.ok-button {
		background: $mainColor;
		color: white;
	}
}

a {
	font-weight: bold;
	text-decoration: none;
	color: $mainColor;
}

a:hover {
	color: black;
}

h1 {
	margin: 0;
	font-weight: normal;
}

h2 {
	margin: 0;
	
	font-weight: normal;
	font-size: 18px;
	
	color: $mainColor;
}

@media (min-height: 860px) {
	#main-container {
		display: flex;
	}
	
	#page-content {
		min-height: 860px;
	}
}

@media (min-width: 768px) {
	#page-content {
		width: 760px;
	}
	
	#cookie-footer {
		left: 25px;
		right: 25px;
		
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		
		border-left: 3px solid $mainColor;
		border-right: 3px solid $mainColor;
	}
}

@media (max-width: 768px) {
	#main-container {
		padding: 10px;
	}
	
	#cookie-footer {
		left: 0;
		right: 0;
	}
}