---
# Only the main Sass file needs front matter (the dashes are enough)
---

$fontStack: 'SF Compact Display', sans-serif;

* {
	font-family: $fontStack;
}

body {
	margin: 0;
	height: 100vh;
	background: white;
}

#main-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	flex-direction: column;
	justify-content: center;
}

#page-content {
	position: relative;
	
	margin: 0 auto;
	text-align: center;
}

#icon-app-store-badge, #icon-facebook {
	display: block;
	margin-top: 20px;
}

#main-menu {
	text-align: center;
	margin: 20px 0;
}

#main-screenshots {
	width: 100%;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #ff8000;
}

a:hover {
	color: black;
}

h1 {
	margin: 0;
	font-weight: normal;
}

h2 {
	margin: 0;
	
	font-weight: normal;
	font-size: 18px;
	
	color: #ff8000;
}

@media (min-height: 860px) {
	#main-container {
		display: flex;
	}
	
	#page-content {
		min-height: 860px;
	}
}

@media (min-width: 768px) {
	#page-content {
		width: 760px;
	}
}

@media (max-width: 768px) {
	#main-container {
		padding: 10px;
	}
}